<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MqServer" value="10.6.88.154"/>
    <add key="MqPort" value="5672"/>
    <add key="MqUser" value="rollen"/>
    <add key="MqPassword" value="root"/>
    <add key="RequestQueue" value="DATA_STORE_MANAGER"/>
    <add key="AlarmQueue" value="ALARM"/>
    <add key="DataStoreManagerIp" value="10.6.88.154"/>
    <add key="DataStoreManagerPort" value="60"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
